<%= _.template(require('./../includes/header.html'))(data) %>
<main>
    <div class="top-containet-bg-img calculator-bg"></div>
    <div class="center-block">
        <div class="car-catalog-list">
            <div class="car-item">
                <div class="top-img-block">
                    <span class="item-price">14,649 USD</span>
                    <img class="responsive" src="img/cars/1.jpg" alt="">
                </div>
                <div class="description-block">
                    <p>
                        <span>Топливо:</span>
                        <span>Бензин</span>
                    </p>
                    <p>
                        <span>Объем дигателя:</span>
                        <span>1.4</span>
                    </p>
                    <p>
                        <span>Типп КПП:</span>
                        <span>Автомат</span>
                    </p>
                    <p>
                        <span>Пробег:</span>
                        <span>1239 км</span>
                    </p>
                    <p>
                        <span>Привод:</span>
                        <span>Полный</span>
                    </p>
                    <p>
                        <span>Год:</span>
                        <span>2017</span>
                    </p>

                </div>
            </div>
            <div class="car-item">
                <div class="top-img-block">
                    <span class="item-price">42,968 USD</span>
                    <img class="responsive" src="img/cars/2.jpg" alt="">
                </div>
                <div class="description-block">
                    <p>
                        <span>Топливо:</span>
                        <span>Бензин</span>
                    </p>
                    <p>
                        <span>Объем дигателя:</span>
                        <span>3.5</span>
                    </p>
                    <p>
                        <span>Типп КПП:</span>
                        <span>Автомат</span>
                    </p>
                    <p>
                        <span>Пробег:</span>
                        <span>1239 км</span>
                    </p>
                    <p>
                        <span>Привод:</span>
                        <span>Передний</span>
                    </p>
                    <p>
                        <span>Год:</span>
                        <span>2017</span>
                    </p>

                </div>
            </div>
            <div class="car-item">
                <div class="top-img-block">
                    <span class="item-price">27,880</span>
                    <img class="responsive" src="img/cars/3.jpg" alt="">
                </div>
                <div class="description-block">
                    <p>
                        <span>Топливо:</span>
                        <span>Бензин</span>
                    </p>
                    <p>
                        <span>Объем дигателя:</span>
                        <span>3.5</span>
                    </p>
                    <p>
                        <span>Типп КПП:</span>
                        <span>Автомат</span>
                    </p>
                    <p>
                        <span>Пробег:</span>
                        <span>1239 км</span>
                    </p>
                    <p>
                        <span>Привод:</span>
                        <span>Передний</span>
                    </p>
                    <p>
                        <span>Год:</span>
                        <span>2017</span>
                    </p>

                </div>
            </div>
        </div>
    </div>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>