<%= _.template(require('./../includes/header.html'))(data) %>

<main>
    <div class="swiper-container animated-bg">
        <h2 class="welcome-phrase">Сопровождение авто от покупки до оформления!</h2>
    </div>
    <div class="about-us-container center-block">
        <h2>Покупка и доставка автомобиля из США – это легко и просто. Многие жители Украины, несмотря на насыщенность автомобильного рынка, предпочитают приобретать машины из США. Авто из Америки пользуются большим спросом в СНГ. Поэтому мы предоставляет Вам возможность приобрести автомобиль с аукционов США на выгодных условиях. Звоните и мы Вам сможем помочь!</h2>
    </div>
    <div class="wrapper center-block">
        <section>
            <div class="services">
                <h2>Наши преимущества</h2>
                <div class="our-services-item">
                    <img src="img/car.svg" alt="">
                    <p>Профессиональный подбор автомобиля</p>
                </div>
                <div class="our-services-item">
                    <img src="img/document.svg" alt="">
                    <p>Полное сопровождение от покупки до получения украинских номеров</p>
                </div>
                <div class="our-services-item">
                    <img src="img/hand.svg" alt="">
                    <p>Автомобиль страхуется на всем пути следования в Украину</p>
                </div>
                <div class="our-services-item">
                    <img src="img/ship.svg" alt="">
                    <p>Низкие цены на транспортировку автомобиля</p>
                </div>
            </div>
            <div class="why-car-from-usa">
                <div class="container-why-usa">
                    <h2>Почему автомобили из США?</h2>
                    <div class="list-container">
                        <ul class="why-car-from-usa-list">
                            <li class="why-car-from-usa-item">Богатые комплектации (люк и круиз-контроль во многих
                                базовых моделях)
                            </li>
                            <li class="why-car-from-usa-item">Почти все автомобили с коробкой автомат</li>
                            <li class="why-car-from-usa-item">Многие двигатели мощнее схожих европейских</li>
                            <li class="why-car-from-usa-item">Подвеска выносливее и в то же время мягче</li>
                            <li class="why-car-from-usa-item">Коробка автомат в AUDI и WV – не ДСГ как в Европе</li>
                        </ul>
                    </div>
                    <div class="list-container">
                        <ul class="why-car-from-usa-list">
                            <li class="why-car-from-usa-item"> Широкий выбор авто на аукционах (рынок № 1 по б/у авто в
                                мире)
                            </li>
                            <li class="why-car-from-usa-item">Хорошее состояние авто (регулярные официальные сервисы)
                            </li>
                            <li class="why-car-from-usa-item">Автомобили ездили по отличным дорогам</li>
                            <li class="why-car-from-usa-item">Честный пробег (в США смотка пробега уголовно
                                преследуется)
                            </li>
                            <li class="why-car-from-usa-item">Прозрачная история – проверка по AutoCheck, CARFAX,
                                EpicVIN
                            </li>
                        </ul>
                    </div>
                </div>
                <!--<div class="car-container car-container-first"></div>-->

                <!--<div class="car-container car-container-second"></div>-->
            </div>
        </section>
    </div>
    <div class="center-block asked-questions">
        <h2>Часто задаваемые вопросы</h2>
        <div class="container-questions-list">
            <div class="asked-questions-item">
                <button class="questions">
                    Какие услуги мы предоставляем?
                </button>
                <p class="answer">
                    Мы предоставляем полный спектр услуг, связанный с приобретением авто из
                    США: подбор авто, полная проверка перед покупкой, покупка, доставка,
                    страховка в пути, таможенное оформление, получение сертификата соответствия,
                    постановка на украинский учет, ремонт при необходимости.
                </p>
            </div>
            <div class="asked-questions-item">
                <button class="questions">
                    Какие гарантии мы даем?
                </button>
                <p class="answer">
                    Мы даем полную гарантию на наши услуги. Перед началом сотрудничества мы заключаем договор. Оплата за
                    машину производится через банк непосредственно на реквизиты аукциона США. Также мы гарантируем
                    полную прозрачность работы. Вы будете напрямую оплачивать все необходимые платежи по доставке,
                    таможне и т.д.
                </p>
            </div>
            <div class="asked-questions-item">
                <button class="questions">
                    Как приобрести автомобиль на аукционе США по максимально выгодной цене?
                </button>
                <p class="answer">
                    Чтобы сэкономить и купить авто по максимально выгодной цене стоит присматриваться к автомобилям,
                    которые имеют небольшие повреждения после ДТП. Услуги СТО в Америке стоят дорого, а также для того,
                    чтобы автомобилю разрешили передвигаться дорогами США, нужно пройти кучу недешевых экспертиз после
                    ремонта. В Америке все машины застрахованы, владельцу проще отдать автомобиль после ДТП страховой
                    компании, немного доплатить и купить новый автомобиль, чем заниматься ремонтом.
                </p>
            </div>
            <div class="asked-questions-item">
                <button class="questions">
                    Как я могу быть уверен, что приобретенный мною автомобиль будет действительно соответствовать
                    заявленным на аукционе характеристикам?
                </button>
                <p class="answer">
                    Перед покупкой авто мы производим полную проверку по имеющимся информационным базам США (CarFax,
                    AutoCheck, EpicVin, TempVin, Vehicle History), абсолютно вся информация о жизни автомобиля заносится
                    в эти базы. Если у нас возникают сомнения, мы дополнительно вызываем независимого эксперта на
                    площадку аукциона, он производит детальный осмотр автомобиля и дает полный отчет о техническом
                    состоянии автомобиля. И только после этого мы принимаем решение, стоит ли приобретать автомобиль.
                    Хотим отметить, что мы принципиально не покупаем утопленников.
                </p>
            </div>
        </div>
        <div class="container-questions-list">
            <div class="asked-questions-item">
                <button class="questions">
                    Как я могу быть уверен, что моя машина точно доплывет, и я не потеряю деньги, которые потратил на
                    покупку?
                </button>
                <p class="answer">
                    Автомобиль страхуется на всем пути следования. Даже если что-то случится в пути, вы получите полную
                    сумму возмещения.
                </p>
            </div>
            <div class="asked-questions-item">
                <button class="questions">
                    Сколько времени займет доставка автомобиля из США?
                </button>
                <p class="answer">
                    Подготовка документов Title занимает от 7 до 30 дней, это зависит от продавца. Транспортировка по
                    Америке, зависит от того, как далеко от порта находится автомобиль. Доставка морем занимает 30-40
                    дней с порта Нью Джерси до порта Одесса. С Лос-Анжелеса дольше. В среднем срок доставки около 2-3
                    месяца. Все зависит от многих факторов. </p>
            </div>
            <div class="asked-questions-item">
                <button class="questions">
                    Что происходит после того, как машина приплыла в порт?
                </button>
                <p class="answer">
                    После прибытия, авто выгружается из контейнера и производится предварительная таможенная очистка.
                    После этого машину можно забирать из порта и везти на таможню для оформления всех необходимых
                    документов. После этого автомобиль проходит обязательную сертификацию и он готов для постановки на
                    украинский учет. А в целом, не волнуйтесь, мы будем Вас сопровождать вплоть до получения белых
                    украинских номеров. Мы имеем большой опыт в этом.</div>
            <div class="asked-questions-item">
                <button class="questions">
                    Если я осуществляю все платежи на прямую, на чем тогда зарабатывает Carmax?
                </button>
                <p class="answer">
                    Все верно, Вы осуществляете оплату всех необходимых платежей без посреднических наценок. А за полное
                    сопровождение мы берем 1000$. Но поверьте, с нами Вы экономите значительно большую сумму.</div>
        </div>


    </div>

    <div class="callback-container background-gray pb-60">
        <div class="center-block">
            <form class="send-data callback-block">
                <div class="thnx">
                    <p>
                        Спасидо за доверие наш менеджер свяжется с вами в ближайшее время.
                    </p>
                </div>
                <h3>Появились вопросы?</h3>
                <h4>Оставьте ваш номер и мы перезвоним вам!</h4>
                <div name="CallBack" action="">
                    <div class="input-container">
                        <label for="name-callback-form">Имя</label>
                        <input id="name-callback-form" placeholder="Анатолий" type="name">
                    </div>
                    <div class="input-container">
                        <label for="tel-callback-form">Телефон</label>
                        <input id="tel-callback-form" placeholder="123-456-7890" type="tel">
                    </div>
                    <button class="thnx-button">Отправить</button>
                </div>
            </form>

        </div>
    </div>
</main>


<%= _.template(require('./../includes/footer.html'))(data) %>