@import "~normalize.css";
// @import url(https://fonts.googleapis.com/css?family=Montserrat:500,700,900&subset=cyrillic);
*{
	outline: none;
}
body{
	&.hidden{ overflow: hidden; }
	font-family: 'Roboto', sans-serif;
	min-height: 100vh;
	color: #222222;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.background-gray{
	background: #5e5e5e;
}
.background-lite-gray{
	background: #f2f2f2;
}
.py60{
	padding: 60px 0 !important;
}
.pb-60{
	padding-bottom: 60px !important;
}
header{
	background: #4c4c4c;
	.center-block{
		nav{
			padding: 0 15px;
			display: flex;
			justify-content: space-between;
			.header-list:nth-child(1){
				list-style: none;
				padding: 0;
				.logo{
					a{
						img{
							width: 200px;
						}
					}
				}
			}
			.header-list:nth-child(2){
				list-style: none;
				display: flex;
				align-items: flex-end;
				padding: 15px 0;
				margin: 0;
				z-index: 211;
				flex-direction: column;
				position: fixed;
				right: -300px;
				top: 100px;
				transform: translate(0,-50%);
				transition: .2s ease-in-out;
				.header-list-item{
					margin-bottom: 8px;
				}
				.header-list-link{
					text-decoration: none;
					color: #ffffff;
					text-transform: uppercase;
					font-size: 14px;
					padding: 4px 6px;
					margin: 0 4px 0;
					border-bottom: 1px solid #ee0014;
					box-sizing: border-box;
					transition: .1s linear;
					&:hover{
						background: #ffffff;
						color: #4c4c4c;
						border-bottom: 1px solid #ffffff;
						border-radius: 2px; 
					}
				}
			}
		}
	}
	.hamburger{
		padding: 0;
		margin: 0;
		border: none;
		border-radius: 0;
		width: 20px;
		height: 20px;
		position: absolute;
		background: transparent;
		top: 50px;
		right: 15px;
		transition: .1s ease-in-out;
		span{
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0;
			background: aliceblue;
			&:nth-child(1){
				top: 0;
			}
			&:nth-child(2){
				top: 45%;
			}
			&:nth-child(3){
				bottom: 0;
			}
		}
	}
}

.fix-header{
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 50px;
	z-index: 10;
	background: #4c4c4ce6 !important;
	.logo{
		display: none;
	}
}
.fix-header .hamburger{
	top: 20px;
}
.when-header-fixed{
	margin: 110px 0 0 0;
}
.active .header-list:nth-child(2){
	right: 15px !important;
}
.active .hamburger{
	filter: opacity(0);
}
main{
	overflow: hidden;
}

.fogging{
	position: fixed;
	width: 100%;
	height: 100%;
	background: #000000cc;
	top: -200%;
	left: 0;
	filter: opacity(0);
	z-index: 100;
	&.active{
		top: 0;
		filter: opacity(1);
		z-index: 210;
	}
}

.swiper-container{
	height: 260px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: url(../img/top-main.jpg);
	background-size: cover;
	h2{
		color: #fff;
		font-weight: bold;
		text-transform: uppercase;
		text-align: center;
	}
}



.animated-bg {
	-webkit-animation: animate-bg 800s linear infinite;
	-o-animation: animate-bg 800s linear infinite;
	animation: animate-bg 800s linear infinite;
	background-repeat: repeat-x;
}

@-webkit-keyframes animate-bg {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -50000px 0;
	}
}
@-moz-keyframes animate-bg {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -50000px 0;
	}
}
@-o-keyframes animate-bg {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -50000px 0;
	}
}
@keyframes animate-bg {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -50000px 0;
	}
}



.swiper-slide{
	&:nth-child(1){
		background: url(../img/slider-1.jpg) no-repeat;
	}
	&:nth-child(2){
		background: url(../img/slider-2.jpg) no-repeat;
	}
	background-size: cover !important; 
	
}
.wrapper{
	margin-top: 60px !important;
	display: flex;
	flex-wrap: wrap;
}
section{
	padding: 15px;
	margin: 0 auto;
}
.services{
	margin-bottom: 60px;
	justify-content: space-between;
	flex-wrap: wrap;
	h2{
		width: 100%;
		margin-bottom: 30px;
	}
	.our-services-item{
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 10px auto;
		width: 290px;
		border-radius: 2px;
		background: #f2f2f2;
		transform: translateY(200px);
		filter: opacity(0);
		transition: .4s ease-in-out;
		p{
			font-size: 17px;
			word-break: break-all;
			padding: 0 15px;
			text-align: center;
		}
	}
	img{
		width: 100px;
		background: #f2f2f2;
		padding: 15px;
		border-radius: 50%;
	}
}
.active.our-services-item{
	filter:opacity(1);
	transform: translateY(0);
}
.list-container{
	display: flex;
	flex-direction: column;
	padding: 25px;
	background: #f2f2f2;
	margin: 20px 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		li{
			padding: 15px 0 15px 20px;
			position: relative;
			&:before{
				content: '';
				position: absolute;
				width: 15px;
				height: 2px;
				background: #222222;
				left: 0;
				top: 23px;
				//transform: translate(0, -50%);
			}
		}
	}
}
.car-container-first{
	background: url(../img/mercedes-car.png) no-repeat;
	height: 200px;
	background-size: contain;
	background-position: right;
	transition: .3s ease-in-out;
	transform: translateX(150%);
	filter: opacity(0);
}
.car-container-second{
	background: url(../img/sports-car.png) no-repeat;
	height: 200px;
	background-size: contain;
	background-position: left;
	transition: .3s ease-in-out;
	transform: translateX(-150%);
	filter: opacity(0);
}
.active.car-container-first, .active.car-container-second {
	transform: translate(0) !important;
	filter: opacity(1);

}
.callback-container{
	padding: 60px 0 ;
}

.callback-block{
	width: 80%;
	margin: 0 auto;
	padding: 40px 15px;
	border: 6px solid #ee0014c2;
	position: relative;
	overflow: hidden;
	background: #f2f2f2;
	button{
		border: 2px solid #4c4c4c;
		padding: 8px 15px;
		background: #fff;
		color: #4c4c4c;
		border-radius: 3px;
		transition: .2s ease-in-out;
		cursor: pointer;
		&:hover{
			background: #4c4c4c;
			color: #fff;
			border: 2px solid #4c4c4c;
		}
	}
	h3{
		text-align: center;
		padding: 0 0 20px;
		margin: 0;
	}
	h4{
		text-align: center;
	}
}
	.false{
		input{
			border: 1px solid #ee0014c2 !important;

		}
		input::placeholder{
			color: #ee0014c2;
	}
}
.thnx{
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(76,76,76,.86);
	filter: opacity(0);
	transition: .3s ease-in-out;
	p{
		width: 80%;
		text-align: center;
		font-size: 17px;
		font-weight: bold;
		color: #fff;
	}
}
.active .thnx{
	top: 0;
	filter: opacity(1);
	transition-delay: .5s;
}
.input-container{
	display: flex;
	flex-direction: column;
	margin: 15px 0;
	label{
		font-size: 14px;
		margin-bottom: 7px;
	}
	select{
		border: none;
		height: 28px;
	}
	input{
		padding: 5px 10px;
		border: 1px solid transparent;
		background: #fff;
	}

}

.asked-questions{
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	h2{
		width: 100%;
		padding: 50px 0 30px;
	}
	.container-questions-list{
		width: 100%;
		.asked-questions-item{
			width: 100%;
			margin: 10px 0;
			transition: .25s ease-in-out;
			.questions{
				width: 100%;
				border: 2px solid #ee0014c2;
				background: #fff;
				padding: 40px 25px;
				box-sizing: border-box;
				transition: .25s ease-in-out;
				&:hover{
					border: 3px solid #cbcbcb;
					background: #cbcbcb;
					color: #272727;
					
				}
			}
			.answer{
				margin: 0;
				padding: 0 20px;
				overflow: hidden;
				height: 0px;
				transition: .2s ease-in-out;
				line-height: 20px;
			}
			&.active{
				box-shadow: 0 0 10px #cbcbcb;
			}
		}
	}
}
.active .questions{
	border: 4px solid #cbcbcb !important;
	background: #cbcbcb !important;
	color: #272727 !important;
}
.active .answer{
	padding: 30px 20px !important;
	height: auto !important;
}
.top-containet-bg-img{
	width: 100%;
	height: 200px;
	background-size: cover !important;
	background-position: center !important;
	display: flex;
	align-items: center;
	justify-content: center;
	h2{
		padding: 20px 20px;
		max-width: 80%;
		color: #fff;
		text-align: center;
		background: #808080c7;
		border: 6px solid rgba(238,0,20,.76);
		box-shadow: 0px 0px 20px 2px #00000054;
	}
}
.calculator-bg{
	background: url("../img/main-top.jpg") no-repeat;
}
.customs, .delivery-container{
	background: #f2f2f2;
	padding: 40px 0;
}
.delivery-container{
	box-sizing: border-box;
	transition: .1s linear;
	padding: 40px 2%;
	margin: 0 -2%;
	&._active{
		position: fixed;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		padding: 0;
		margin: 0;
		z-index: 220;
		.close-delivery-block{
			width: 25px;
			height: 25px;
			margin: 30px 20px;
			padding: 0;
			background: transparent;
			border: none;
			position: fixed;
			top: 0;
			right: 0;
			img{
				border: none !important;
				box-shadow: none !important;
			}
		}
		.delivery-info {
			display: none;
		}
		.delivery-main-info{
			width: 100%;
			height: 100%;
			display: block;
			overflow: auto;
			-webkit-overflow-scrolling: touch;
			.title{
				font-size: 26px;
				font-weight: bold;
				margin: 30px auto;
				padding: 7px 26px;
				border-bottom: 2px solid #5d5d5d;
				border-top: 2px solid #5d5d5d;
				width: fit-content;
				.red{
					color: #ee0014;
				}
				.dark-gray{
					color: #222;
				}
			}
			.img-side, .description-side{
				width: 100%;
				padding: 3% 5%;
				display: flex;
				align-items: center;
				justify-content: center;
				box-sizing: border-box;
			}
			.description-side{
				font-size: 18px;
				letter-spacing: normal;
				line-height: 1.5;
				font-weight: 600;
				color: #404040;
				text-align: center;
			}
			.img-side{
				&:after{
					content: '';
					background: url(../img/arrow.svg) no-repeat cover;
					position: absolute;
					display: block;
					width: 50px;
					height: 50px;
				}
			}
			img{
				width: 100%;
				box-shadow: 0 0 8px 0px #333;
				transition: .15s linear;
				border: 3px solid #ee0015;
				border-radius: 3px;
				&:hover{
					box-shadow: 0 0 15px 0px #333;
				}
			}
		}
	}
	.delivery-info{
		box-sizing: border-box;
		padding: 15px;
		line-height: 25px;
		font-size: 17px;
	}
	.more-about-delivery{
		display: inline-block;
		color: #00aced;
		cursor: pointer;
		padding: 2px;
	}
	.delivery-main-info{
		overflow: hidden;
		width: 0;
		height: 0;
	}
	.delivery-main-info{
		.delivery-content{
			&.reverse{
				flex-direction: row-reverse;
			}
			
		}
	}
	
}

.wrapper-for-calculator {
	border: 6px solid #ee0014c2;
	background: #f2f2f2;
}

.calculator-block{
	padding: 40px 15px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	button{
		border: 2px solid #ee0014c2;
		padding: 8px 15px;
		background: #fff;
		color: #4c4c4c;
		border-radius: 3px;
		transition: .2s ease-in-out;
		cursor: pointer;
		&:hover{
			background: #4c4c4c;
			color: #fff;
			border: 2px solid #4c4c4c;
		}
	}

}
.invoice{
	width: 100%;
	box-sizing: border-box;
	padding: 0 15px;
	overflow: hidden;
	height: 0;
	transition: .2s linear;
	color: #4c4c4c;
	border-top: 6px solid transparent;
	&.active{
		height: auto;
		padding: 40px 15px;
		border-top: 6px solid rgba(238,0,20,.76);
	}
	.description{
		display: flex;
		justify-content: space-between;
		border-bottom: 1px solid #afafaf;
		padding: 10px 0;
		margin: 0;
		&.description_total{
			padding-top: 10px;
			border-top: 2px solid #4c4c4c;
			border-bottom: none;
		}
		span:last-child{
			width: 80px;
		} 
	}
}
.top-toggle-container{
	display: flex;
	justify-content: center;
	margin-top: 20px;
	border-top: 6px solid rgba(238,0,20,.76);
	border-left: 6px solid rgba(238,0,20,.76);
	border-right: 6px solid rgba(238,0,20,.76);
	.toggle-item{
		width: 60px;
		height: 60px;
		padding: 10px;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		transition: .1s linear;
		&:last-child{
			padding: 15px;
		}
		&.active{
			background: rgba(238,0,20,.76);
			svg{
				fill: #fff;
			}
		}
	}
}
.about-us-container{
	padding:60px 15px 30px;
	border-bottom: 6px solid #ee0014c2;

	h2{
		font-size: 20px	;
		font-weight: 100;
		line-height: 30px;
		text-align: center;
	}
}
.result{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background: rgba(76, 76, 76, 0.86);
	padding: 20px;
	box-sizing: border-box;
	filter: opacity(0);
	top: -120%;
	transition: .2s ease-in-out;
	z-index: 10;
	p{
		color: #fff;
		font-size: 17px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 70px;
		span{
			display: block;
			font-size: 18px;
			padding-top: 30px;
		}
	}
	button{
		padding: 8px 30px;
		position: absolute;
		bottom: 20px;
		right: 20px;
	}
}
.active .result{
	filter: opacity(1) !important;
	top: 0 !important;
}
.active .fee-result{
	justify-content: flex-start;
	p{
		margin-bottom: 10px;
		width: 100%;
		display: flex;
		justify-content: space-between;
		span{
			padding-top: 10px;
		}
	}
}
.contacts{
	display: flex;
	flex-direction: column;
}
.main-contact-block{
	width: 80%;
	margin: 20px auto;
	padding: 40px 15px;
	border: 6px solid rgba(238,0,20,.76) ;
	div{
		padding: 40px 15px;

	}
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		.empty{
			margin: 30px;
		}
		li{
			color: #333333;
			font-size: 17px;
			a{
				color: #333333;
				text-decoration: none;
			}
		}
		.item{
			font-weight: bold;
			margin: 10px 0;
		}
	}
}













footer{
	background: #4c4c4c;
	min-height: 200px;
	nav{
		padding: 30px 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
	}
	.footer-contacts{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.footer-list{
		margin: 0;
		padding: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		align-items: center;
		.logo{
			width: 100%;
			a{
				img{
					width: 150px;
				}
			}
		}
		.footer-list-item{
			color: #ffffff;
			padding: 5px 0;
			font-size: 16px;
			a{
				color: #ffffff;
				text-decoration: none;
			}
		}
	}
}
.car-catalog-list{
	padding: 60px 0;
	display: grid;
	//margin: 60px 0;
	//border-top: 2px solid #ff444d;
	//border-bottom: 2px solid #ff444d;
	grid-template-columns: 1fr;
	.car-item{
		margin: 30px 15px;
		padding: 15px;
		border: 4px solid rgba(238,0,20,.76);
		.top-img-block{
			position: relative;
			.item-price{
				position: absolute;
				right: -10px;
				top: 10px;
				padding: 10px 20px;
				background: rgba(238,0,20,1);
				color: #fff;

			}
		}
		.description-block{
			p{
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 0 5px 5px;
				margin: 10px 0;
				border-bottom: 1px solid #4c4c4c63;
				span:nth-child(1){
					color: #4c4c4c;
				}
			}
		}
	}
}
.responsive{
	max-width: 100%;
	height: auto;
}
.status-delivery{
	display: flex;
	position: relative;
	justify-content: space-between;
	margin: 40px 0px 40px;
	height: 3px;
	border-radius: 4px;
	background: #cbcbcb;
}
.status-item{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #cbcbcb;
	transform: translate(0,-11px);
	border: 3px solid #cbcbcb;
	box-sizing: border-box;
}
.status-item.active{
	position: relative;
	background: #ee0014;
	border: 3px solid #ff444d;
	box-sizing: border-box;
}
.progress-bar{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: #ff444d;
}
.status-name{
	width: 70px;
	display: block;
	transform: translateY(30px) translateX(-10%);
	font-size: 13px;
}
.status-item:nth-child(3) .status-name{
	transform: translateY(30px) translateX(-20px);
}
.status-item:nth-child(4) .status-name{
	transform: translateY(30px) translateX(-59%);
}

#disqus_thread{
	margin: 0 15px;
}

.socia-logo{
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #fff;
	border-radius: 20%;
	svg{
		width: 30px;
		height: 30px;
		border-radius: 20%;

	}
}


@media (min-width:768px) {
	.car-catalog-list {
		margin: 60px 0;
		border-top: 2px solid #ff444d;
		border-bottom: 2px solid #ff444d;
	}
  	.center-block{
		  width: 768px;
		  margin: 0 auto;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	  }
	.swiper-container{
		height: 350px;
	}
	.wrapper{
		flex-direction: row;
	}
	.hamburger{
		display: none;
	}
	header .center-block nav .header-list:nth-child(2){
		flex-direction: row;
		position: unset;
		right: auto;
		top: auto;
		transform: translate(0);
	}
	.services{
		display: flex;
	}
	.container-why-usa{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		h2{
			width: 100%;
		}
		.list-container{
			width: 48%;
		}
	}
	.services .our-services-item{
		margin: 10px 0;
		width: 24%;
	}
	.callback-block {
		width: 400px;
	}
	footer nav{
		flex-direction: row;
	}
	.footer-contacts{
		align-items: flex-start;
	}
	.container-questions-list{
		width: 48% !important;
	}
	.questions{
		padding: 25px 25px !important;
		height: 135px !important;
	}
	.top-containet-bg-img {
		height: 400px !important;
	}
	.wrapper-for-calculator, .delivery{
		margin: 0 0 70px 0;
		display: flex;
		flex-wrap: wrap;
	}
	.info-block{
		padding: 15px 40px;
		h2{
			margin-top: 0;
		}
	}
	.calculator-block{
		width: 50%;
	}
	.contacts{
		flex-direction: row !important;
		.callback-block{
			width: 50% !important;
			box-sizing: border-box;
			margin-right: 0;

		}
		.main-contact-block{
			margin: 0 !important;
			width: 45%;
			box-sizing: border-box;
		}
	}
	.about-us-container {
		padding:60px 0 30px;
	}
	.car-catalog-list{
		grid-template-columns: 1fr 1fr 1fr;
	}
	footer{
		nav {
			padding-left: 15px;
			padding-right: 15px;
			align-items: flex-start;
		}
	}
	.delivery-container{
		.delivery-content{
			display: flex;
			.img-side{
				width: 50%;
			}
			.description-side{
				width: 50%;
				text-align: left;
			}
		}
	}

}

		
@media (min-width:1024px) {
	.center-block{
		width: 1024px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.swiper-container{
		height: 400px;
	}
}
@media (min-width:1200px) {
	.center-block{
		width: 1200px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

}
.to-top-button{
	width: 40px;
	height: 40px;
	padding: 10px;
	display: block;
	border-radius: 50%;
	box-sizing: border-box;
	position: fixed;
	bottom: 40px;
	right: 40px;
	background: #ee001483;
	transition: .05s linear;
	opacity: 0;
	&:hover{
		background: #ee0014e0;
	}
	svg{
		transform: rotate(-90deg);
		fill: #fff;
	}
	&.active{
		opacity: 1;
	}
}